@using TransportManagementWeb.Global
<!DOCTYPE html>
<html class="no-js">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Demon International</title>
    <meta name="theme-color" content="#ffffff">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/styles/bootstrap.css">
    <link rel="stylesheet" href="~/styles/dependencies.css">
    <link rel="stylesheet" href="~/styles/components.css">
    <link rel="stylesheet" href="~/styles/wrapkit.css">
    <link rel="stylesheet" href="~/styles/demo.css">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/App/Global/App.js"></script>
    <script src="~/Scripts/App/Global/Utility.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <main class="wrapkit-wrapper" id="wrapper">

        <!-- ============================================
        HEADER SECTION
        =============================================== -->
        <!-- navigation -->
        <nav class="header navbar">
            <div class="container-fluid">
                <!-- use .pull-*, couse we need this float on any screen size -->
                <div class="pull-left">
                    <a class="navbar-brand" href="~/Masters/Dashboard" role="logo" aria-label="Logo">
                        <img src="~/images/logo/logo.png" style="height:40px; width:178px;" />
                        <img class="logo hidden" src="~/images/logo/logo.png" alt="Brand" style="height:42px; width:178px;">
                    </a>
                    <button data-sidebar="toggleVisible" class="btn btn-icon navbar-btn">
                        <i class="fa fa-bars"></i>
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>

                <!-- use .pull-*, couse we need this float on any screen size -->
                <div class="pull-right" role="navigation">

                    <div class="dropdown">

                        <br />
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <label id="lblUserName1" ></label>
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="page-profile.html"><span class="pull-right"><i class="fa fa-user text-muted"></i></span>Profile</a></li>
                            <li class="divider"></li>
                            <li role="presentation"><a data-toggle="modal" data-target="#customModal2" role="menuitem" tabindex="-1"><span class="pull-right"><i class="fa fa-key text-muted"></i></span>Change Password</a></li>
                            <li class="divider"></li>
                            <li role="presentation"><a id="A1" role="menuitem" tabindex="-1" href="#"><span class="pull-right"><i class="fa fa-sign-out text-muted"></i></span> Sign out</a></li>
                            <li class="divider"></li>
                        </ul>
                    </div><!-- /.dropdown -->
                </div><!-- /navigation -->

            </div><!-- /.container-fluid -->
        </nav><!-- /navigation -->
        <!-- ============================================
        SIDEBAR SECTION
        =============================================== -->
        <aside class="sidebar" role="complementary">

            <!-- profile -->
            <div class="sidebar-block">
                <div class="media">
                    <div class="media-left">
                        <a href="~/Masters/Dashboard">
                            <span class="status dotted dotted-primary" data-toggle="tooltip" data-container="body" title="available"></span>
                            <img class="media-object img-circle" src="~/images/dummy/unknown-profile.jpg" alt="photo profile">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" id="lblUserName" >  </h4>

                    </div>
                </div>
            </div><!-- /.sidebar-block -->
            <!-- /profile -->
            <!-- /navigation -->
            <div class="nav-wrapper">
                <ul class="nav nav-stacked" role="navigation">
                    <li class="divider"></li>
                    <li class="nav-header" href="~/Masters/Dashboard" role="presentation">DASHBOARD</li>
                    <li class="nav-item" role="presentation">
                        <a href="#" data-toggle="nav-child">
                            <span class="nav-icon"><i class="fa fa-briefcase"></i></span>
                            <span class="nav-text">Master Page</span>
                        </a>
                        <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
                            <li class="nav-item" role="presentation"><a href="~/Masters/ClientMaster"><span class="nav-text">Add New Client</span></a></li>
                            <li class="nav-item" role="presentation"><a href="~/Masters/VendorMaster"><span class="nav-text">Add New Vendor</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#" data-toggle="nav-child">
                            <span class="nav-icon"><i class="fa fa-briefcase"></i></span>
                            <span class="nav-text">Transaction Page</span>
                        </a>
                        <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
                            <li class="nav-item" role="presentation"><a href="~/Masters/ServiceOrder"><span class="nav-text">Service Order</span></a></li>
                            <li class="nav-item" role="presentation"><a href="~/Masters/TranshipmentAllotment"><span class="nav-text">Transhipment Allotment</span></a></li>
                            <li class="nav-item" role="presentation"><a href="~/Masters/VehicleFreightDetail"><span class="nav-text">Vehicle Info & Freight</span></a></li>
                            <li class="nav-item" role="presentation"><a href="~/Masters/LRGeneration"><span class="nav-text">LR Generation</span></a></li>
                            <li class="nav-item" role="presentation"><a href="~/Masters/BillEntry"><span class="nav-text">Bill Entry</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#" data-toggle="nav-child">
                            <span class="nav-icon"><i class="fa fa-briefcase"></i></span>
                            <span class="nav-text">Reports</span>
                        </a>
                        <ul class="nav nav-child level-1 nav-stacked nav-pills" role="menu">
                            <li class="nav-item" role="presentation"><a href="~/Masters/LRReport"><span class="nav-text">LR Report</span></a></li>
                            <li class="nav-item" role="presentation"><a href="~/Masters/BillReport"><span class="nav-text">Bill Report</span></a></li>
                            <li class="nav-item" role="presentation"><a href="~/Masters/LedgerReport"><span class="nav-text">Leadger Report</span></a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                </ul>
            </div>
        </aside><!-- /.SIDEBAR -->
        <!-- ============================================
        MAIN CONTENT SECTION
        =============================================== -->
        @RenderBody()
        <!-- ============================================
        FOOTER SECTION
        =============================================== -->
        <footer class="footer-wrapper" role="contentinfo">
            <div class="footer">
                <div class="pull-right text-muted"><small>Currently v1.2</small></div>
                <div>Copyright © 2018 Demon International</div>
            </div>
        </footer><!-- /.FOOTER -->

    </main><!-- /#MAIN -->

    <script src="~/scripts/vendor.js"></script>
    <script src="~/scripts/dependencies.js"></script>
    <script src="~/scripts/wrapkit.js"></script>
    <script src="~/scripts/wrapkit-setup.js"></script>
    <script src="~/scripts/plugin-setups.js"></script>
    @*<script src="~/scripts/morris.bundle.js"></script>*@
    <script src="~/scripts/jquery.sparkline.js"></script>
    <script src="~/scripts/jquery.easypiechart.js"></script>
    @*<script src="~/scripts/demo/dashboard1-demo.js"></script>*@
    @if (TempData["Alert_Title"] != null)
    {
        <div id="dialog" title="@TempData["Alert_Title"].ToString()">
            @if (TempData["Alert_Message"] != null)
            {
                <p>@TempData["Alert_Message"].ToString()</p>
            }
            else
            {
                <p>Success..!</p>
            }
        </div>
    }
    @*Alert*@
    <div id="alertModel" style="display:none;" title="">
        <p></p>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#dialog").dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/styles/jquery-ui.css" rel="stylesheet" />
</body>
</html>
