@using DataLayer;
@using System.Data;
@using System.Linq;

@{
    ViewBag.Title = "Bill Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <section class="content-wrapper" role="main" style="height:1200px;">
        <div class="content">
            <div class="bg-light hidden" id="header">
                <div class="content-hero-body pt-1x">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="invoice-brand">
                                <p class="centre"><img class="logo" src="../images/logo/brand-text-dark.png" alt="Brand" style="height:70px; width:225px;"></p>
                                <h1 class="no-margin mb-1x centre">DEMON INTERNATIONAL LOGISTICS PVT. LTD.</h1>
                                <p class="centre">207/9, Viajy Nagar, Kanpur - 208005</p>
                                <p class="centre">Email: infp@demoninternational.in, Web: www.demoninternational.in</p>
                                <p class="centre">Mob: No.: +91-9616144446, +91-9616144447</p>
                            </div><!-- /.invoice-brand -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.content-hero-body -->
            </div><!-- /.content-hero -->
            <div class="content-body">
                <div class="col-lg-10 col-md-offset-1">
                    <div class="row">
                        <div class="panel fade in panel-default" panel-fill-color="true" data-init-panel="true">
                            <div class="panel-body">
                                <h2 class="centre">Bill Report</h2>
                                <hr />
                                <div class="row" id="invoiceRow">
                                    <div class="col-md-7 col-md-offset-4">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Invoice Number</label>
                                            <div class="col-sm-8">
                                                <select name="InvoiceDropdown" id="InvoiceDropdown" class="form-control" required></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @{
                                    var billDetail = ViewData["InvoiceDetail"] as ClientBillDetail;
                                    if (billDetail != null)
                                    {
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="table-responsive table-bordered" style="border:1px solid #bbb5b5">
                                                    <table class="table">
                                                        <tr>
                                                            <td style="width:400px;"><b>CIN:</b></td>
                                                            <td style="width:500px;"> SE 2018-0358830</td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:400px;"><b>INVOICE DATE:</b></td>
                                                            <td style="width:500px;">15/12/2018</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:400px;"><b>GST NO:</b></td>
                                                            <td style="width:500px;">AAGCDNGHT</td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:400px;"><b>INVOICE NO. :</b></td>
                                                            <td style="width:500px;">DIL/UP/17-18/043 </td>

                                                        <tr>
                                                            <td style="width:400px;"><b>PAN:</b></td>
                                                            <td style="width:500px;"> $('#hdnName').val() </td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:400px;"></td>
                                                            <td style="width:500px;"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="table-responsive table-bordered" style="border:1px solid #bbb5b5">
                                                    <table class="table">
                                                        <tr>
                                                            <td style="width:500px;"><b>Client Details</b></td>
                                                            <td style="width:400px;"></td>
                                                            <td style="width:400px;"></td>
                                                            <td style="width:400px;"></td>
                                                            <td style="width:400px;"><b>Branch Office</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:400px;"><b>Ms Durian Industries Ltd</b></td>
                                                            <td style="width:300px;"></td>
                                                            <td style="width:300px;"></td>
                                                            <td style="width:300px;"></td>
                                                            <td style="width:400px;"><b>FF 209 139</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:800px;" colspan="3"><b>Plot no 09, Chuintu Padda,Palghar</b></td>
                                                            <td style="width:400px;"></td>
                                                            <td style="width:400px;"><b>1st floor, Narayan Plaza</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:400px;"><b>Maharashtra</b></td>
                                                            <td style="width:300px;"></td>
                                                            <td style="width:300px;"></td>
                                                            <td style="width:300px;"></td>
                                                            <td style="width:400px;"><b>Aliganj, Lucknow-226020</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:500px;"><b>PAN:</b></td>
                                                            <td style="width:400px;"></td>
                                                            <td style="width:400px;"></td>
                                                            <td style="width:400px;"></td>
                                                            <td style="width:400px;"><b>xzcvxcbcxbcxbcxbcx</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:400px;"></td>
                                                            <td style="width:300px;"></td>
                                                            <td style="width:300px;"></td>
                                                            <td style="width:300px;"></td>
                                                            <td style="width:400px;"><b>Mobile: +91-9616144446</b></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="table-bordered" style="border:1px solid #bbb5b5;">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr class="table-bordered bg-primary">
                                                                <!--<th>Sl No.</th>-->
                                                                <th>Description</th>
                                                                <th>Sac Code</th>
                                                                <th>Consignment No.</th>
                                                                <th>Qty</th>
                                                                <th>Charges</th>
                                                                <th>Total</th>
                                                                <th>Disc. %</th>
                                                                <th>Disc. Amnt</th>
                                                                <th>Total Amnt</th>
                                                            </tr>
                                                        </thead>
                                                        <tr>
                                                            <!--<td>
                                    <strong>1.</strong>
                                </td>-->
                                                            <td>
                                                                <strong>Freight charges for Single sdfdsf</strong>
                                                            </td>
                                                            <td>
                                                                <strong>996611</strong>
                                                            </td>
                                                            <td>
                                                                <strong>DIL/INO/1377</strong>
                                                            </td>
                                                            <td>
                                                                <strong>1</strong>
                                                            </td>
                                                            <td>
                                                                <strong>4100</strong>
                                                            </td>
                                                            <td>
                                                                <strong>4100</strong>
                                                            </td>
                                                            <td>
                                                                <strong>0</strong>
                                                            </td>
                                                            <td>
                                                                <strong>0</strong>
                                                            </td>
                                                            <td>
                                                                <strong>4100</strong>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="table-responsive table-bordered" style="border:1px solid #bbb5b5">
                                                    <table class="table">
                                                        <tr>
                                                            <td style="width:500px;" colspan="2"><b>Remarks: Bill Under RCM</b></td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:300px;"><b>Total:</b></td>
                                                            <td style="width:300px;"><b>41,000.00</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:400px;"></td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:300px;"><b>Docket Charge:</b></td>
                                                            <td style="width:300px;"><b>50.00</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:400px;"></td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:300px;"><b>Loading/Unloading:</b></td>
                                                            <td style="width:300px;"><b>41,500.00</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:400px;"></td>
                                                            <td style="width:1000px;" colspan="2"></td>
                                                            <td style="width:300px;"><b>Add CGST:</b></td>
                                                            <td style="width:300px;"><b>0.00</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:400px;"></td>
                                                            <td style="width:1000px;" colspan="2"><b></b></td>
                                                            <td style="width:300px;"><b>Add SGST:</b></td>
                                                            <td style="width:300px;"><b>0.00</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:400px;"><b></b></td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:1000px;" colspan="2"></td>
                                                            <td style="width:300px;"><b>Add IGST 5%:</b></td>
                                                            <td style="width:300px;"><b>0.00</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:400px;"><b></b></td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:1000px;" colspan="2"></td>
                                                            <td style="width:300px;"><b>Add Cess:</b></td>
                                                            <td style="width:300px;"><b>0.00</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:400px;"><b>Bank Details</b></td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:1000px;" colspan="2"></td>
                                                            <td style="width:300px;"><b>Total Tax:</b></td>
                                                            <td style="width:300px;"><b>0.00</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:400px;"><b>Name of Bank:</b></td>
                                                            <td style="width:500px;">Kotak mahindra Bank</td>
                                                            <td style="width:1000px;" colspan="2"></td>
                                                            <td style="width:300px;"><b>Advance:</b></td>
                                                            <td style="width:300px;"><b>20,000.00</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:400px;"><b>A/C No:</b></td>
                                                            <td style="width:500px;">9712897113</td>
                                                            <td style="width:1000px;" colspan="2"></td>
                                                            <td style="width:300px;"><b>R/Off:</b></td>
                                                            <td style="width:300px;"><b>0.00</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:400px;"></td>
                                                            <td style="width:500px;"></td>
                                                            <td style="width:1000px;" colspan="2"></td>
                                                            <td style="width:300px;"><b>Total Amount:</b></td>
                                                            <td style="width:300px;">
                                                                <b>
                                                                    21,050.00
                                                                </b>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="table-responsive table-bordered" style="border:1px solid #bbb5b5">
                                                    <table class="table">
                                                        <tr>
                                                            <td colspan="6"><b>Note:-</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="6"><b>Please ensure that given services have been charged must be as per work order.</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="6"><b>Rs 100/- will charged if cheque will dishonoured.</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:700px;" colspan="5"><b>Interest @@ 10 % p.a will be charged if bill is not paid with in one week.</b></td>
                                                            <td style="width:300px;">For Demon International Logistics Pvt Ltd</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:700px;" colspan="5"><b>All Disputes subject to kanpur juridisction only.</b></td>
                                                            <td style="width:300px;"><b>Authorised Signature</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="6"><b>E. & O.E</b></td>
                                                        </tr>

                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div><input class="btn btn-info" type="button" value="Print" id="btnPrint" /></div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.content -->
    </section>

</form>
<script>
    $(function () {
        $(document).ready(function () {
            $('.BillReportPageActive').addClass('active');
        })
    });
</script>
<script src="~/Scripts/App/Masters/BillReport.js"></script>