@{
    ViewBag.Title = "Client Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ============================================
MAIN CONTENT SECTION
=============================================== -->
<form action="SaveClientDetail" method="post">
    <section class="content-wrapper" role="main">
        <div class="content">

            <div class="content-bar">
                <ul class="breadcrumb breadcrumb-angle">
                    <li><a href="~/Masters/Dashboard" aria-label="home"><i class="fa fa-home"></i></a></li>
                    <li class="active">Client Master</li>
                </ul>
            </div><!-- /.content-bar -->
            <hr />

            <div class="content-body">

                <div class="col-lg-12">
                    <div class="featured-box featured-box-primary align-left mt-xlg">
                        <div class="box-content">
                            <div class="row">
                                <div class="col-md-12"><h4 class="heading-primary text-uppercase mb-md">Client Detail </h4></div>
                            </div>
                            <hr class="tall">
                            <div class="form-group mt-lg">
                                <label class="col-sm-2 control-label">Client Name <span style="color:red;">*</span></label>
                                <div class="col-sm-10">
                                    <div class="input-group input-group-icon">
                                        <input type="text" id="txtName" class="form-control" placeholder="Client Name" name="clientName" required>
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-user"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Address</label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <textarea id="Textarea1" class="form-control" rows="3" placeholder="Enter Your Address 1" name="address1"></textarea>
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-map"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 hidden">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Address 2 <span style="color:red;">*</span></label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <textarea id="txtAddress" class="form-control" rows="3" placeholder="Enter Your Address 2" name="address2"></textarea>
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-location-arrow"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Area<span style="color:red;">*</span></label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="Text3" class="form-control" placeholder="Area" name="area" required>
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-area-chart"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Pin Code <span style="color:red;">*</span></label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="Text4" class="form-control" placeholder="Pin Code" name="pincode" required>
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-edit"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Country <span style="color:red;">*</span></label>
                                            <div class="col-sm-8">
                                                <select name="country" id="CountryDropdown" class="form-control required" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">State <span style="color:red;">*</span></label>
                                            <div class="col-sm-8">
                                                <select name="state" id="StateDropdown" class="form-control required" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">City Name<span style="color:red;">*</span></label>
                                            <div class="col-sm-8">
                                                <select name="city" id="CityDropdown" class="form-control required" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Pan No</label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="Text2" name="panNumber" class="form-control" placeholder="Pan no">
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-edit"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">GST No</label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="Text1" name="gstNo" class="form-control" placeholder="GST No">
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-edit"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <br>
                            <div class="row">
                                <div class="col-md-12"><h4 class="heading-primary text-uppercase mb-md">Concern Person 1 Detail </h4></div>
                            </div>
                            <hr class="tall">

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Email Id </label>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <div class="input-group input-group-icon">
                                                        <input type="text" id="Text11" name="CP1EMail" class="form-control" placeholder="Email Id">
                                                        <span class="input-group-addon">
                                                            <span class="icon"><i class="fa fa-envelope"></i></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Contact No <span style="color:red;">*</span></label>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <div class="input-group input-group-icon">
                                                        <input type="text" id="Text5" name="CP1ContactNo" class="form-control" placeholder="Contact No" required>
                                                        <span class="input-group-addon">
                                                            <span class="icon"><i class="fa fa-phone"></i></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="row">
                                <div class="col-md-12"><h4 class="heading-primary text-uppercase mb-md">Concern Person 2 Detail </h4></div>
                            </div>
                            <hr class="tall">

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Email Id </label>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <div class="input-group input-group-icon">
                                                        <input type="text" id="Text6" name="CP2Email" class="form-control" placeholder="Email Id">
                                                        <span class="input-group-addon">
                                                            <span class="icon"><i class="fa fa-envelope"></i></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Contact No <span style="color:red;">*</span></label>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <div class="input-group input-group-icon">
                                                        <input type="text" id="Text7" name="CP2ContactNo" class="form-control" placeholder="Contact No" required>
                                                        <span class="input-group-addon">
                                                            <span class="icon"><i class="fa fa-phone"></i></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-4">
                            <div class="btn-divider mr-2x mb-1x" role="divider">
                                <input id="btnSave" type="submit" value="Submit" name="submit" class="btn btn-primary">
                                <span class="label-divider" id="Span1">or</span>
                                <!--<input id="btncancel" type="submit" name="reset" value="Cancel" class="btn btn-default"   onclick="btnreset_Click"/>-->
                                <a id="btncancel" href="~/Masters/ClientMaster" name="reset" class="btn btn-default">Reset</a>
                            </div>
                            <asp:hiddenfield id="HiddenField1">
                            </asp:hiddenfield>
                        </div>
                    </div>
                    <div style="margin-bottom:3px;"></div>
                </div>


            </div>


            <div class="clearfix"></div>

        </div><!-- /.content -->

    </section>
</form>
<!-- /MAIN -->
<script>
    $(function () {
        $(document).ready(function () {
            $('.clientPageActive').addClass('active');
        })
    });
</script>
<script src="~/Scripts/App/Masters/MasterDetail.js"></script>