@{
    ViewBag.Title = "Transhipment Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="SaveTranshipmentAllotment" method="post">
    <section class="content-wrapper" role="main">
        <div class="content">
            <div class="content-hero bg-light">
                <div class="content-hero-body pt-1x">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="invoice-brand mb-4x">
                                <p class="text-muted"><span>CST NO:</span>U74999UP2018PTC100584</p>
                                <p class="text-muted"><span>GSTN NO:</span>77977879797797879</p>
                                <p class="text-muted"><span>PAN NO:</span>779778797977978797987988</p>
                                <img class="logo" src="../images/logo/brand-text-dark.png" alt="Brand" style="height:70px; width:225px;">
                            </div><!-- /.invoice-brand -->
                        </div>
                        <div class="col-md-7">
                            <div class="invoice-brand mb-4x">
                                <p class="text-muted centre">CONSIGNMENT NOTE</p>
                                <h1 class="no-margin mb-1x hidden-sm hidden-xs">DEMON INTERNATIONAL LOGISTICS PVT. LTD.</h1>
                                <p class="centre">207/9, Viajy Nagar, Kanpur - 208005</p>
                                <p class="centre">Email: infp@demoninternational.in, Web: www.demoninternational.in</p>
                                <p class="centre">Mob: No.: +91-9616144446, +91-9616144447</p>
                            </div><!-- /.invoice-brand -->
                        </div>

                        <div class="col-md-2">
                            <div class="panel fade in panel-default" panel-fill-color="true" data-init-panel="true">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div id="top-pages" class="tab-pane active fade in">
                                            <ul class="media-list">
                                                <li class="media">
                                                    <div class="media-body">
                                                        <p class="media-heading">Consignment No.</p>
                                                        <a href="#" class="help-block"><small>DIL/INO/:</small><b>168978</b></a>
                                                    </div>
                                                </li>
                                        </div><!-- /.tab-pane -->
                                    </div><!-- /.tab-content -->
                                </div><!-- /.panel-body -->
                            </div><!-- /.panel -->
                            <div class="panel fade in panel-default" panel-fill-color="true" data-init-panel="true">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div id="Div1" class="tab-pane active fade in">
                                            <ul class="media-list">
                                                <li class="media">
                                                    <div class="media-body">
                                                        <p class="media-heading">Vehicle No:</p>
                                                        <a href="#" class="help-block"><small>MH04HD9744</small></a>
                                                    </div>
                                                </li>
                                        </div><!-- /.tab-pane -->
                                    </div><!-- /.tab-content -->
                                </div><!-- /.panel-body -->
                            </div>
                        </div>
                    </div><!-- /.row -->

                </div><!-- /.content-hero-body -->
            </div><!-- /.content-hero -->

            <div class="content-body">

                <div class="row">
                    <div class="col-md-5">
                        <div class="panel fade in panel-default" panel-fill-color="true" data-init-panel="true">
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane active fade in">
                                        <p class="title">Top Pages</p>
                                        <hr class="mt-2x">
                                        <ul class="media-list">
                                            <li class="media">
                                                <div class="media-left">1</div>
                                                <div class="media-body">
                                                    <p class="pull-right">95,880</p>
                                                    <p class="media-heading">Landing Page</p>
                                                    <a href="#" class="help-block"><small>http://wrapkit.com</small></a>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="media-left">2</div>
                                                <div class="media-body">
                                                    <p class="pull-right">69,189</p>
                                                    <p class="media-heading">Collections</p>
                                                    <a href="#" class="help-block"><small>http://wrapkit.com/collections</small></a>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="media-left">3</div>
                                                <div class="media-body">
                                                    <p class="pull-right">48,238</p>
                                                    <p class="media-heading">Free Stuff</p>
                                                    <a href="#" class="help-block"><small>http://wrapkit.com/free-stuff</small></a>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="media-left">4</div>
                                                <div class="media-body">
                                                    <p class="pull-right">29,616</p>
                                                    <p class="media-heading">About Us</p>
                                                    <a href="#" class="help-block"><small>http://wrapkit.com/about-us</small></a>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="media-left">5</div>
                                                <div class="media-body">
                                                    <p class="pull-right">18,444</p>
                                                    <p class="media-heading">Our Works</p>
                                                    <a href="#" class="help-block"><small>http://wrapkit.com/our-works</small></a>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn btn-link btn-icon btn-block">View All <span class="fa fa-angle-double-down ml-1x"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel fade in panel-default" panel-fill-color="true" data-init-panel="true">
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div id="Div4" class="tab-pane active fade in">
                                                <ul class="media-list">
                                                    <li class="media">
                                                        <div class="media-body">
                                                            <p class="media-heading">Consignment No.</p>
                                                            <a href="#" class="help-block"><small>DIL/INO/:</small><b>168978</b></a>
                                                        </div>
                                                    </li>
                                            </div><!-- /.tab-pane -->
                                        </div><!-- /.tab-content -->
                                    </div><!-- /.panel-body -->
                                </div><!-- /.panel -->
                            </div>
                            <div class="col-md-6">
                                <div class="panel fade in panel-default" panel-fill-color="true" data-init-panel="true">
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active fade in">
                                                <ul class="media-list">
                                                    <li class="media">
                                                        <div class="media-body">
                                                            <p class="media-heading">Consignment No.</p>
                                                            <a href="#" class="help-block"><small>DIL/INO/:</small><b>168978</b></a>
                                                        </div>
                                                    </li>
                                            </div><!-- /.tab-pane -->
                                        </div><!-- /.tab-content -->
                                    </div><!-- /.panel-body -->
                                </div><!-- /.panel -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel fade in panel-default" panel-fill-color="true" data-init-panel="true">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active fade in">
                                            <p class="title">Top Pages</p>
                                            <hr class="mt-2x">
                                            <ul class="media-list">
                                                <li class="media">
                                                    <div class="media-left">1</div>
                                                    <div class="media-body">
                                                        <p class="pull-right">95,880</p>
                                                        <p class="media-heading">Landing Page</p>
                                                        <a href="#" class="help-block"><small>http://wrapkit.com</small></a>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <div class="media-left">2</div>
                                                    <div class="media-body">
                                                        <p class="pull-right">69,189</p>
                                                        <p class="media-heading">Collections</p>
                                                        <a href="#" class="help-block"><small>http://wrapkit.com/collections</small></a>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <div class="media-left">3</div>
                                                    <div class="media-body">
                                                        <p class="pull-right">48,238</p>
                                                        <p class="media-heading">Free Stuff</p>
                                                        <a href="#" class="help-block"><small>http://wrapkit.com/free-stuff</small></a>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <div class="media-left">4</div>
                                                    <div class="media-body">
                                                        <p class="pull-right">29,616</p>
                                                        <p class="media-heading">About Us</p>
                                                        <a href="#" class="help-block"><small>http://wrapkit.com/about-us</small></a>
                                                    </div>
                                                </li>
                                                <li class="media">
                                                    <div class="media-left">5</div>
                                                    <div class="media-body">
                                                        <p class="pull-right">18,444</p>
                                                        <p class="media-heading">Our Works</p>
                                                        <a href="#" class="help-block"><small>http://wrapkit.com/our-works</small></a>
                                                    </div>
                                                </li>
                                            </ul>
                                            <a href="#" class="btn btn-link btn-icon btn-block">View All <span class="fa fa-angle-double-down ml-1x"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel fade in panel-default" panel-fill-color="true" data-init-panel="true">
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div id="Div2" class="tab-pane active fade in">
                                                <ul class="media-list">
                                                    <li class="media">
                                                        <div class="media-body">
                                                            <p class="media-heading mainwrap">To Pay</p>
                                                            <a href="#" class="help-block"><small>vcvcvcv</small></a>
                                                        </div>
                                                    </li>
                                            </div><!-- /.tab-pane -->
                                        </div><!-- /.tab-content -->
                                    </div><!-- /.panel-body -->
                                </div><!-- /.panel -->
                            </div>
                            <div class="col-sm-6">
                                <div class="panel fade in panel-default" panel-fill-color="true" data-init-panel="true">
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div id="Div3" class="tab-pane active fade in">
                                                <ul class="media-list">
                                                    <li class="media">
                                                        <div class="media-body">
                                                            <p class="media-heading mainwrap">To Pay</p>
                                                            <a href="#" class="help-block"><small>xcvv</small></a>
                                                        </div>
                                                    </li>
                                            </div><!-- /.tab-pane -->
                                        </div><!-- /.tab-content -->
                                    </div><!-- /.panel-body -->
                                </div><!-- /.panel -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel fade in panel-default" panel-fill-color="true" data-init-panel="true">
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div id="Div5" class="tab-pane active fade in">
                                                <ul class="media-list">
                                                    <li class="media">
                                                        <div class="media-body">
                                                            <p class="media-heading">Consignment No.</p>
                                                            <hr />
                                                            <p class="media-heading">Consignment No.</p>
                                                            <hr />
                                                            <p class="media-heading">Consignment No.</p>
                                                            <hr />
                                                            <p class="media-heading">Consignment No.</p>
                                                            <hr />
                                                            <p class="media-heading">Consignment No.</p>
                                                            <hr />
                                                        </div>
                                                    </li>
                                            </div><!-- /.tab-pane -->
                                        </div><!-- /.tab-content -->
                                    </div><!-- /.panel-body -->
                                </div><!-- /.panel -->
                            </div>
                        </div>
                    </div>

                </div><!-- /.row -->
            </div><!-- /.content-body -->

        </div><!-- /.content -->

    </section>
</form>
<script>
    $(function () {
        $(document).ready(function () {
            $('.LedgerReportPageActive').addClass('active');
        })
    });
</script>
<script src="~/Scripts/App/Masters/TranshipmentAllotment.js"></script>