@{
    ViewBag.Title = "Transhipment Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ============================================
MAIN CONTENT SECTION
=============================================== -->
<form action="SaveTranshipmentAllotment" method="post">
    <section class="content-wrapper" role="main">
        <div class="content">

            <div class="content-bar">
                <ul class="breadcrumb breadcrumb-angle">
                    <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
                    <li class="active">Transhipment Allotment to Vendor</li>
                </ul>
            </div><!-- /.content-bar -->
            <hr />

            <div class="content-body" style="height:700px;">

                <div class="col-lg-12">
                    <div class="featured-box featured-box-primary align-left mt-xlg">
                        <div class="box-content">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Client Name</label>
                                            <div class="col-sm-8">
                                                <select name="ClientÌd" id="ClientDropdown" class="form-control required" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Refrence Id.</label>
                                            <div class="col-sm-8">
                                                <select name="ReferenceId" id="ReferenceDropdown" class="form-control required" required></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr class="table-bordered bg-primary">
                                                    <th>
                                                        Deadline Date
                                                    </th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>Vehicle Type</th>
                                                    <th>Vehicle Detail</th>
                                                    <th>Gross Weight</th>
                                                    <th>Nature Of Goods</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <strong><span id="deadlineDate"></span></strong>
                                                </td>
                                                <td>
                                                    <strong><span id="singleFromCityLabel"></span></strong>
                                                </td>
                                                <td>
                                                    <strong><span id="singleToCityLabel"></span></strong>
                                                </td>
                                                <td>
                                                    <strong><span id="VehicleTypeLabel"></span></strong>
                                                </td>
                                                <td>
                                                    <strong><span id="VehicleDetailLabel"></span></strong>
                                                </td>
                                                <td>
                                                    <strong><span id="GrossWeight"></span></strong>
                                                </td>
                                                <td>
                                                    <strong><span id="NatureOfGoods"></span></strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-2 control-label">Vendor Name</label>
                                            <div class="col-sm-10">
                                                <select name="VendorId" id="VendorDropdown" class="form-control required" required></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-4">
                            <div class="btn-divider mr-2x mb-1x" role="divider">
                                <input id="btnSave" type="submit" value="Submit" name="submit" class="btn btn-primary">
                                <span class="label-divider" id="Span1">or</span>
                                <a id="btncancel" href="~/Masters/TranshipmentAllotment" name="reset" class="btn btn-default">Reset</a>
                            </div>
                            <asp:hiddenfield id="HiddenField1">
                            </asp:hiddenfield>
                        </div>
                    </div>
                    <div style="margin-bottom:52px;"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div><!-- /.content -->
    </section>
</form>
<!-- /MAIN -->
<script>
    $(function () {
        $(document).ready(function () {
            $('.TranshipmentAllotmentPageActive').addClass('active');
        })
    });
</script>
<script src="~/Scripts/App/Masters/TranshipmentAllotment.js"></script>