@{
    ViewBag.Title = "Freight Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ============================================
MAIN CONTENT SECTION
=============================================== -->
<form action="SaveFreightDetail" method="post">
    <section class="content-wrapper" role="main">
        <div class="content">

            <div class="content-bar">
                <ul class="breadcrumb breadcrumb-angle">
                    <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
                    <li class="active">Vehicle and Freight Details</li>
                </ul>
            </div><!-- /.content-bar -->
            <hr />
            <div class="content-body" style="height:700px;">
                <div class="col-lg-12">
                    <div class="featured-box featured-box-primary align-left mt-xlg">
                        <div class="box-content">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Client Name</label>
                                            <div class="col-sm-8">
                                                <select name="ClientDropdown" id="ClientDropdown" class="form-control required" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Refrence Id.</label>
                                            <div class="col-sm-8">
                                                <select name="ReferenceId" id="ReferenceDropdown" class="form-control required"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr class="table-bordered bg-primary">
                                                    <th>
                                                        Deadline Date
                                                    </th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>Vehicle Type</th>
                                                    <th>Vehicle Detail</th>
                                                    <th>Gross Weight</th>
                                                    <th>Nature Of Goods</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <strong><span id="deadlineDate"></span></strong>
                                                </td>
                                                <td>
                                                    <strong><span id="singleFromCityLabel"></span></strong>
                                                </td>
                                                <td>
                                                    <strong><span id="singleToCityLabel"></span></strong>
                                                </td>
                                                <td>
                                                    <strong><span id="VehicleTypeLabel"></span></strong>
                                                </td>
                                                <td>
                                                    <strong><span id="VehicleDetailLabel"></span></strong>
                                                </td>
                                                <td>
                                                    <strong><span id="GrossWeight"></span></strong>
                                                </td>
                                                <td>
                                                    <strong><span id="NatureOfGoods"></span></strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12"><h4 class="heading-primary text-uppercase mb-md">Freight Details </h4></div>
                            </div>
                            <hr class="tall">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Total Freight</label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="TotalFreight" class="form-control" placeholder="Total Freight" name="TotalFreight">
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-area-chart"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Advance Amount </label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="AdvanceFreight" class="form-control" placeholder="Advance" name="AdvanceFreight">
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-edit"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Balance Amount</label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="BalanceFreight" class="form-control" placeholder="Balance" readonly name="BalanceFreight">
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-area-chart"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Loading Charges</label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="Text3" class="form-control" placeholder="Loading" name="LoadingCharge">
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-area-chart"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Unloading Charges</label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="Text3" class="form-control" placeholder="Unloading" name="UnloadingCharge">
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-area-chart"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Others Charges</label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="Text3" class="form-control" placeholder="Others" name="OthersCharge">
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-area-chart"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-4">
                            <div class="btn-divider mr-2x mb-1x" role="divider">
                                <input id="btnSave" type="submit" value="Submit" name="submit" class="btn btn-primary">
                                <span class="label-divider" id="Span1">or</span>
                                <a id="btncancel" href="~/Masters/VehicleFreightDetail" name="reset" class="btn btn-default">Reset</a>
                            </div>
                            <asp:hiddenfield id="HiddenField1">
                            </asp:hiddenfield>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div><!-- /.content -->
    </section>
</form>
<!-- /MAIN -->
<script>
    $(function () {
        $(document).ready(function () {
            $('.VehicleFreightDetailPageActive').addClass('active');
        })
    });
</script>
<script src="~/Scripts/App/Masters/FreightDetail.js"></script>
