@{
    ViewBag.Title = "Freight Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ============================================
MAIN CONTENT SECTION
=============================================== -->
<form action="SaveFreightDetail" method="post">
    <section class="content-wrapper" role="main">
        <div class="content">

            <div class="content-bar">
                <ul class="breadcrumb breadcrumb-angle">
                    <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
                    <li class="active">Vehicle and Freight Details</li>
                </ul>
            </div><!-- /.content-bar -->
            <hr />
            <div class="content-body">
                <div class="col-lg-12">
                    <div class="featured-box featured-box-primary align-left mt-xlg">
                        <div class="box-content">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Client Name</label>
                                            <div class="col-sm-8">
                                                <select name="ClientDropdown" id="ClientDropdown" class="form-control required" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Refrence Id.</label>
                                            <div class="col-sm-8">
                                                <select name="ReferenceId" id="ReferenceDropdown" class="form-control required"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group mt-lg">
                                <label class="col-sm-4 control-label">Deadline Date</label>
                                <div class="col-sm-8">
                                    <div class="input-group input-group-in">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <label class="form-control" id="deadlineDate"></label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div id="singleTranshipment" class="hidden">
                                <div class="row">
                                    <div class="col-md-12"><h4 class="heading-primary text-uppercase mb-md">Transhipment Detail </h4></div>
                                </div>
                                <hr class="tall">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="form-group mt-lg">
                                                <label class="col-sm-4 control-label">From</label>
                                                <div class="col-sm-8">
                                                    <label id="singleFromCityLabel"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mt-lg">
                                                <label class="col-sm-4 control-label">To <span style="color:red;">*</span></label>
                                                <div class="col-sm-8">
                                                    <label id="singleToCityLabel"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div id="multipleTranshipment" class="hidden">
                                <div class="row">
                                    <div class="col-md-12"><h4 class="heading-primary text-uppercase mb-md">Multi Transhipment Detail </h4></div>
                                </div>
                                <hr class="tall">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="form-group mt-lg">
                                                <label class="col-sm-2 control-label">From City</label>
                                                <div class="col-sm-10">
                                                    <label id="multiFromCityLabel"></label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr class="table-hover bg-primary">
                                                        <th>To City</th>
                                                        <th>Weight(KG/Mt)</th>
                                                        <th>Unit</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <label id="multiToCityLabel1"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <label id="multiWeightLabel1"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <label id="multiUnitLabel1"></label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-group">
                                                                <label id="multiToCityLabel2"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <label id="multiWeightLabel2"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <label id="multiUnitLabel2"></label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12"><h4 class="heading-primary text-uppercase mb-md">Vehicle Information </h4></div>
                            </div>
                            <hr class="tall">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Vehicle Type</label>
                                            <div class="col-sm-8">
                                                <label id="VehicleTypeLabel"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Vehicle Detail</label>
                                            <div class="col-sm-8">
                                                <label id="VehicleDetailLabel"></label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Gross Weight <span style="color:red;">*</span></label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <textarea id="GrossWeight" name="GrossWeight" class="form-control" readonly rows="3" placeholder="Enter Gross Weight"></textarea>
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-map"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Nature Of Goods<span style="color:red;">*</span></label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <textarea id="NatureOfGoods" name="NatureOfGoods" readonly class="form-control" rows="3" placeholder="Enter Nature Of Goods"></textarea>
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-location-arrow"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12"><h4 class="heading-primary text-uppercase mb-md">Freight Details </h4></div>
                            </div>
                            <hr class="tall">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Total Freight</label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="TotalFreight" class="form-control" placeholder="Total Freight" name="TotalFreight">
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-area-chart"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Advance Amount </label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="AdvanceFreight" class="form-control" placeholder="Advance" name="AdvanceFreight">
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-edit"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Balance Amount</label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="BalanceFreight" class="form-control" placeholder="Balance" readonly name="BalanceFreight">
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-area-chart"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Loading Charges</label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="Text3" class="form-control" placeholder="Loading" name="LoadingCharge">
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-area-chart"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Unloading Charges</label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="Text3" class="form-control" placeholder="Unloading" name="UnloadingCharge">
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-area-chart"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-4 control-label">Others Charges</label>
                                            <div class="col-sm-8">
                                                <div class="input-group input-group-icon">
                                                    <input type="text" id="Text3" class="form-control" placeholder="Others" name="OthersCharge">
                                                    <span class="input-group-addon">
                                                        <span class="icon"><i class="fa fa-area-chart"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-4">
                            <div class="btn-divider mr-2x mb-1x" role="divider">
                                <input id="btnSave" type="submit" value="Submit" name="submit" class="btn btn-primary">
                                <span class="label-divider" id="Span1">or</span>
                                <a id="btncancel" href="~/Masters/VehicleFreightDetail" name="reset" class="btn btn-default">Reset</a>
                            </div>
                            <asp:hiddenfield id="HiddenField1">
                            </asp:hiddenfield>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div><!-- /.content -->
    </section>
</form>
<!-- /MAIN -->
<script>
    $(function () {
        $(document).ready(function () {
            $('.VehicleFreightDetailPageActive').addClass('active');
        })
    });
</script>
<script src="~/Scripts/App/Masters/FreightDetail.js"></script>
